//-
//- Grids
//-

$grid-columns:      12 !default;
$grid-gutter-width: 30px !default;

//-
//- Breakpoints
//-

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

//-
//- Container
//-

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
$sizes: map-merge((
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  auto: auto
), $sizes);

//-
//- Colors
//-

$color-black: #000 !default;
$color-white: #FFF !default;
$color-blue: #1B83E0 !default;
$color-red: #f40009 !default;
$color-green: #009587 !default;
$color-orange: #FC582B !default;
$color-gray: rgba(0, 0, 0, 0.65) !default; //lighten(#666, 20%)
$color-gray-light: #FAFBFD !default;
$color-gray-dark: #666 !default;

$color-default: $color-red;
$color-primary: $color-orange;
$color-secondary: #58B957;

$colors: () !default;
$colors: map-merge((
  "black":      $color-black,
  "white":      $color-white,
  "red":        $color-red,
  "green":      $color-green,
  "gray":     	$color-gray,
  "gray-light": $color-gray-light,
  "gray-dark":  $color-gray-dark,

  "default": $color-default,
  "primary": $color-primary,
  "secondary": $color-secondary
), $colors);

//-
//- Spacing
//-

$spacing: (0, 5, 10, 15, 16, 18, 20, 30, 40, 50, 70) !default;

//-
//- Font
//-

$font-family-pt-sans: 'PT Sans', sans-serif, Arial;
$font-family-pt-sans-bold: 'PT Sans Bold', sans-serif, Arial;
$font-family-pt-sans-italic: 'PT Sans Italic', sans-serif, Arial;
$font-family-pt-sans-bold-italic: 'PT Sans Bold Italic', sans-serif, Arial;
$font-family-pt-sans-narrow: 'PT Sans Narrow', sans-serif, Arial;
$font-family-icons: icomoon;

$font-family-muli: Muli;
$font-family-vr: 'Varela Round';

//-
//- Sizes
//-

$font-size-h1: 30px;
$font-size-h2: 28px;
$font-size-h3: 26px;
$font-size-h4: 24px;
$font-size-h5: 20px;
$font-size-h6: 18px;

$font-size-xs: 11px;
$font-size-sm: 13px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xlg: 22px;

$font-sizes: (12, 13, 14, 16, 18, 20, 22, 24, 26);

//-
//- Fonts
//-

$font-weight-light:  		300 !default;
$font-weight-normal: 		400 !default;
$font-weight-semibold: 	600 !default;
$font-weight-bold:			700 !default;

$text-color-muted: $color-gray-light !default;

//- Padding

$padding-vertical: 5px !default;
$padding-horizontal: 10px !default;

$padding-lg-vertical:    10px !default;
$padding-lg-horizontal:  16px !default;

$padding-md-vertical:    8px !default;
$padding-md-horizontal:  13px !default;

$padding-sm-vertical:       1px !default;
$padding-sm-horizontal:     5px !default;

//-
//- Select
//-

$color-red-error: rgb(185, 74, 72);
$color-gray-arrow: rgba(204, 204, 204, 0.2);

$width-default: 220px; // 3 960px-grid columns

$zindex-select-dropdown: 1060; // must be higher than a modal background (1050)

//-
//- Inputs Text
//-

// $input-text-font-family: $font-family-muli;
$input-text-color: $color-gray;
$input-text-bg: #FBF5F6;
$input-text-border: #C4C4C4;
$input-text-border-error: $color-red;

$text-color-error: $color-red;

//-
//- Alerts
//-

$alert-text-size: 16px;

$alert-success-text-color: #155724;
$alert-success-bg-color: #D4EDDA;

$alert-danger-text-color: #721C24;
$alert-danger-bg-color: #F8D7DA;

$alert-warning-text-color: #856404;
$alert-warning-bg-color: #FFF3CD;

$alert-info-text-color: #0C5460;
$alert-info-bg-color: #D1ECF1;

//-
//- Breadcrumb
//-

$bc-link-color: #007BFF;
$bc-link-color-active: #868E96;
$bc-txt-size: 13px;
$bc-padding: 5px;

//-
//- Z-index master list
//-

$zindex-dropdown:                   1000 !default;
$zindex-sticky:                     1020 !default;
$zindex-fixed:                      1030 !default;
$zindex-modal-backdrop:             1040 !default;
$zindex-modal:                      1050 !default;
$zindex-popover:                    1060 !default;
$zindex-tooltip:                    1070 !default;

$enable-gradients:          false !default;


$bg-main: #E5E5E5;

//-
$box-border-color:#C4C4C4;
$box-border-radius: 20px;

$bullet-color: #C4C4C4;
$bullet-active-color: $color-primary;

//-
//- Header
//-

$hd-bg: #001529;

//-
//- Footer
//-

$ft-height: 30px;
$ft-bg: #001529;