@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

html,
body {
  height: 100%;
  margin: 0;
}

body {
  position: relative;
  font-family: 'Lato', Arial;
  line-height: 1.2;
  min-height: 100vh;
}